<h1>Editing alt question</h1>

<%= render "form", alt_question: @alt_question %>

<br>

<div>
  <%= link_to "Show this alt question", @alt_question %> |
  <%= link_to "Back to alt questions", alt_questions_path %>
</div>
