<h1>Editing dev question</h1>

<%= render "form", dev_question: @dev_question %>

<br>

<div>
  <%= link_to "Show this dev question", @dev_question %> |
  <%= link_to "Back to dev questions", dev_questions_path %>
</div>
